@model IEnumerable<Sakila.DB.Model.Film>
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<h2>
    Hi @HttpContextAccessor.HttpContext.Session.GetString("FirstName") @HttpContextAccessor.HttpContext.Session.GetString("LastName")
</h2>



<a class="btn btn-primary" asp-controller="Films" asp-action="CreateOrUpdate">
    New film
</a>

<table class="table" >
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Language</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var film in Model) {
            <tr>
                <td> 
                    @film.Id 
                </td>
                <td>
                    @film.Title
                </td>
                <td>
                   @(film.Language != null ? film.Language.Name : "")
                </td>
                <td>
                    <a asp-controller="Films" asp-action="CreateOrUpdate" asp-route-id="@film.Id">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a asp-controller="Films" asp-action="Delete" asp-route-id="@film.Id">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </td>

            </tr>
        }
    </tbody>
</table>